<!DOCTYPE html>
<html>
	<head>
		<title>Aggiorna Film</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
	</head>
	<body>
		<header>
			<div th:if="${userDetails}">
				<span th:text="${userDetails.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div th:unless="${user}">
				<a href="/login">Login</a>
			</div>
		</header>
		
		<div class="logo-container">
			<a id="logo-link" href="/">
				<div style="text-align: center;"><img src="/images/logo-siw.png" width="50%" /></div>
			</a>
		</div>
		<div th:if="${movie}" class="panel">
			<h1 style="text-align: center;" id="title">Aggiorna il film</h1>
			
			<div class="user-container" style="flex-direction: unset;">
				
				<div style="gap: 8px;" class="info-panel">
					<span><a th:href="@{'/admin/movie/' + ${movie.id}}"><img class="img-border" width="160" height="220" th:src="${movie.getCoverImageBase64}"/></a></span>
					<span th:text="${movie.title}">Up!</span>
					<span th:text="'(' + ${movie.year} + ')'">2000</span>
					<span>Regista: 
						<span th:if="${movie.director}">
							<a th:if="${movie.director}" class="director" th:href="@{'/artist' + '/' + ${movie.director.id}}"><span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Regista</span></a>
							<a style="float: inline-start; margin-left: unset;" class="genericButton" th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica Regista</a></span>
						</span>
						<span th:unless="${movie.director}"><a style="float: inline-start; margin-left: unset;" class="genericButton" th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungine uno</a></span>
					</span>
				</div>
				<div class="review-panel">
					<div style="text-align: center;"><span style="font-size: 20px;">Aggiorna o elimina qui il film:</span></div>
					<div style="text-align: center; margin: 5%;">
						<a class="genericButton" th:href="@{'/admin/updateMovie/' + ${movie.id}}">Aggiorna dati</a>
						<a id="deleteBtn" class="genericButton" th:href="@{'/admin/deleteMovie/' + ${movie.id}}">Elimina il film</a>
					</div>
					<div style="text-align: center;"><span style="font-size: 20px;">Aggiungi qui gli attori:</span></div>
					<div style="text-align: center; margin: 5%;"><a class="genericButton" th:href="@{'/admin/updateActors/' + ${movie.id}}">Aggiungi/Modifica Attori</a></div>
					
					<ul>
						<li class="actorList" th:each="actor: ${movie.actors}">
							<a th:href="@{'/artist' + '/' + ${actor.id}}">
								<h3><span class="li-text" th:text="${actor.name} + ' (' + ${actor.surname} + ')'">title</span></h3>
								<img style="object-fit: cover;" class="img" width="120" height="152" th:src="${actor.getImgOfPictureBase64}">
							</a>
						</li>
					</ul>
					
				</div>
				<div th:unless="${movie}">Film non esistente</div>
			</div>
		</body>
	</html>