<!DOCTYPE html>
<html>
	<head>
		<title>Gestione Artisti</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
	</head>
	<body>
		<header>
			<div th:if="${userDetails}">
				<span th:text="${userDetails.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div th:unless="${user}">
				<a href="/login">Login</a>
			</div>
		</header>
		
		<div class="logo-container">
			<a id="logo-link" href="/">
				<div style="text-align: center;"><img src="/images/logo-siw.png" width="50%" /></div>
			</a>
		</div>
		<div class="panel">
			<h1 style="text-align: center;" id="title">Pannello gestione Film</h1>
			
			<div class="user-container">
				
				<div class="panel-grid">
					<a class="link" href="/admin/formNewArtist">
						<div class="box">
							<div class="div-value"><h2>Nuovo Artista</h2></div>
							<div class="div-label">Inserisci i dati di un nuovo artista</div>
						</div>
					</a>
					<a class="link" href="/admin/manageArtists">
						<div class="box">
							<div class="div-value"><h2>Gestisci Artisti</h2></div>
							<div class="div-label">Gestisci gli artisti nell'archivio</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>